form {
  background-color: #c0b5b5;
  padding: 30px;    
    border-radius: 10px;
    width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
color: black;

}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

legend {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    text-shadow: orangered 2px 2px 4px;
}

input[type="text"],
input[type="email"],            
input[type="tel"],
input[type="number"],
input[type="age"],
input[type="submit"],
input[type="password"],
input[type="date-time-local"],
select,
input[type="date"]
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: inset 0 1px 3px rgba(168, 3, 3, 0.747);

}   

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    box-shadow: inset 0 1px 3px rgba(168, 3, 3, 0.747);
}

button,
input[type="submit"] {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}