h1 {
    color: #4169E1;
    text-align: center;
    font-size: 36px;
    font-family: Arial, sans-serif;
background-color: #FFFDD0;
line-height: 100px;
text-shadow: 0px 0px 12px rgb(238, 4, 4);
font-weight: bold;
}

h1:hover {
    background-color: #4169E1;
    color: white;

}

p {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
font-style: italic;
}

img {
    width: 270px;
    max-width: 100%;
    height: 200px;
    border: 5px solid #FFB6C1;
    border-radius: 30px;
    margin-right: 15px;
    margin-top: 15px;

}

img:hover {
    border-color: #FFB6C1;
    box-shadow: 0px 0px 15px #FFB6C1;
    transform: scale(1.1);
 transition: all 0.3s ease;


}






